<div class="">

  <div id="wrapper">
    <div class="form">
      <section class="login_content">
        <form #form="ngForm" (ngSubmit)="onSubmit()">
          <h1>Create Account</h1>
          <div>
            <input type="text" name="name" class="form-control" placeholder="Name" required [(ngModel)]="user.name" #userName="ngModel">
            <span class="help-desk" *ngIf="userName.invalid && userName.touched" style="color: #E74C3C;" >Please enter your name.</span>
          </div>
          <div>
            <input type="email" class="form-control" placeholder="Email" name="email" required email [(ngModel)]="user.email" #userEmail="ngModel"/>
            <span class="help-desk" *ngIf="userEmail.invalid && userEmail.touched" style="color: #E74C3C;" >Please enter your email.</span>
          </div>
          <div>
            <input type="text" class="form-control" placeholder="User name" name="username" required [(ngModel)]="user.username" #userUsername="ngModel"/>
            <span class="help-desk" *ngIf="userUsername.invalid && userUsername.touched" style="color: #E74C3C;" >Please enter username.</span>
          </div>
          <div>
            <input type="password" class="form-control" placeholder="Password" name="password" required [(ngModel)]="user.password" #userPassword="ngModel"/>
            <span class="help-desk" *ngIf="userPassword.invalid && userPassword.touched" style="color: #E74C3C;" >Please enter your password.</span>
          </div>
          <div>
            <button type="submit" class="btn btn-default submit" >Submit</button>
          </div>
          <div class="clearfix"></div>
          <div class="separator">

            <p class="change_link">Already a member ?
              <a routerLink="/auth/login" class="to_register"> Log in </a>
            </p>
            <div class="clearfix"></div>
            <br />
            <div>
              <h1><i class="fa fa-paw" style="font-size: 26px;"></i> Gentelella Alela!</h1>

              <p>©2015 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
            </div>
          </div>
        </form>
        <!-- form -->
      </section>
      <!-- content -->
    </div>
  </div>
</div>
