<form  class="form-horizontal form-label-left" (ngSubmit)="onSubmit()">
  <span class="section">Create Task</span>
  <div class="form-group">
    <label class="control-label col-md-2 col-sm-2 col-xs-12">Tracker <span class="required">*</span></label>
    <div class="col-md-5 col-sm-5 col-xs-12">
      <select class="form-control" [(ngModel)]="task.tracker" name="tracker">
        <option selected="selected" value="4">Task</option>
        <option value="2">Feature</option>
        <option value="1">Bug</option>
        <option value="3">Support</option>
        <option value="5">Deliverable</option>
        <option value="6">User Story</option>
        <option value="7">Module</option>
        <option value="8">Step</option>
        <option value="9">Tweak</option>
      </select>
      <span class="help-desk" style="color: #E74C3C;">Required</span>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-2 col-sm-2 col-xs-12">Project <span class="required">*</span></label>
    <div class="col-md-5 col-sm-5 col-xs-12">
      <select class="form-control">
        <option selected="selected" value="0">Select Project</option>
        <option value="1">Project 1</option>
        <option value="2">Project 2</option>
        <option value="3">Project 3</option>
      </select>
      <span class="help-desk" style="color: #E74C3C;">Required</span>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-2 col-sm-2 col-xs-12" for="title">Title <span class="required">*</span>
    </label>
    <div class="col-md-9 col-sm-9 col-xs-12">
      <input type="text" id="title" name="title" class="form-control col-md-7 col-xs-12" [(ngModel)]="task.title">
      <span class="help-desk" style="color: #E74C3C;">Required</span>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-2 col-sm-2 col-xs-12" for="description">Description <span class="required">*</span>
    </label>
    <div class="col-md-9 col-sm-9 col-xs-12">
      <div class="x_content">
        <div id="alerts"></div>
        <div class="btn-toolbar editor" data-role="editor-toolbar" data-target="#editor">
          <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" title="Font"><i class="fa icon-font"></i><b class="caret"></b></a>
            <ul class="dropdown-menu">
            </ul>
          </div>
          <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" title="Font Size"><i class="icon-text-height"></i>&nbsp;<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li>
                <a data-edit="fontSize 5">
                  <p style="font-size:17px">Huge</p>
                </a>
              </li>
              <li>
                <a data-edit="fontSize 3">
                  <p style="font-size:14px">Normal</p>
                </a>
              </li>
              <li>
                <a data-edit="fontSize 1">
                  <p style="font-size:11px">Small</p>
                </a>
              </li>
            </ul>
          </div>
          <div class="btn-group">
            <a class="btn" data-edit="bold" title="Bold (Ctrl/Cmd+B)"><i class="icon-bold"></i></a>
            <a class="btn" data-edit="italic" title="Italic (Ctrl/Cmd+I)"><i class="icon-italic"></i></a>
            <a class="btn" data-edit="strikethrough" title="Strikethrough"><i class="icon-strikethrough"></i></a>
            <a class="btn" data-edit="underline" title="Underline (Ctrl/Cmd+U)"><i class="icon-underline"></i></a>
          </div>
          <div class="btn-group">
            <a class="btn" data-edit="insertunorderedlist" title="Bullet list"><i class="icon-list-ul"></i></a>
            <a class="btn" data-edit="insertorderedlist" title="Number list"><i class="icon-list-ol"></i></a>
            <a class="btn" data-edit="outdent" title="Reduce indent (Shift+Tab)"><i class="icon-indent-left"></i></a>
            <a class="btn" data-edit="indent" title="Indent (Tab)"><i class="icon-indent-right"></i></a>
          </div>
          <div class="btn-group">
            <a class="btn" data-edit="justifyleft" title="Align Left (Ctrl/Cmd+L)"><i class="icon-align-left"></i></a>
            <a class="btn" data-edit="justifycenter" title="Center (Ctrl/Cmd+E)"><i class="icon-align-center"></i></a>
            <a class="btn" data-edit="justifyright" title="Align Right (Ctrl/Cmd+R)"><i class="icon-align-right"></i></a>
            <a class="btn" data-edit="justifyfull" title="Justify (Ctrl/Cmd+J)"><i class="icon-align-justify"></i></a>
          </div>
          <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" title="Hyperlink"><i class="icon-link"></i></a>
            <div class="dropdown-menu input-append">
              <input class="span2" placeholder="URL" type="text" data-edit="createLink" />
              <button class="btn" type="button">Add</button>
            </div>
            <a class="btn" data-edit="unlink" title="Remove Hyperlink"><i class="icon-cut"></i></a>
          </div>
          <div class="btn-group">
            <a class="btn" title="Insert picture (or just drag & drop)" id="pictureBtn"><i class="icon-picture"></i></a>
            <input type="file" data-role="magic-overlay" data-target="#pictureBtn" data-edit="insertImage" />
          </div>
          <div class="btn-group">
            <a class="btn" data-edit="undo" title="Undo (Ctrl/Cmd+Z)"><i class="icon-undo"></i></a>
            <a class="btn" data-edit="redo" title="Redo (Ctrl/Cmd+Y)"><i class="icon-repeat"></i></a>
          </div>
        </div>
        <div id="editor"></div>
        <textarea name="description" id="description" style="display:none;" ></textarea>
        <span class="help-desk" style="color: #E74C3C;">Required</span>
        <br />
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-2 col-sm-2 col-xs-12"> Status <span class="required">*</span> </label>
    <div class="col-md-4 col-sm-4 col-xs-12">
      <select class="form-control">
        <option selected="selected" value="1">New</option>
        <option value="2">Assigned</option>
        <option value="8">In Progress</option>
        <option value="3">Resolved</option>
        <option value="4">Approved</option>
        <option value="5">Closed</option>
        <option value="6">Rejected</option>
        <option value="7">Blocked</option>
      </select>
      <span class="help-desk" style="color: #E74C3C;">Required</span>
    </div>
    <label class="control-label col-md-1 col-sm-1 col-xs-12"> Priority <span class="required">*</span></label>
    <div class="col-md-4 col-sm-4 col-xs-12">
      <select class="form-control">
        <option value="3">Low</option>
        <option selected="selected" value="4">Normal</option>
        <option value="5">High</option>
        <option value="6">Urgent</option>
        <option value="7">Immediate</option>
      </select>
      <span class="help-desk" style="color: #E74C3C;">Required</span>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-2 col-sm-2 col-xs-12">Start Date <span class="required">*</span>
    </label>
    <div class="col-md-4 col-sm-4 col-xs-12">
      <input id="start_date" class="date-picker form-control col-md-7 col-xs-12" r type="text">
      <span class="help-desk" style="color: #E74C3C;">Required</span>
    </div>
    <label class="control-label col-md-1 col-sm-1 col-xs-12">End Date <span class="required">*</span></label>
    <div class="col-md-4 col-sm-4 col-xs-12">
      <input id="end_date" class="date-picker form-control col-md-7 col-xs-12" type="text">
      <span class="help-desk" style="color: #E74C3C;">Required</span>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-2 col-sm-2 col-xs-12"> Assignee </label>
    <div class="col-md-4 col-sm-4 col-xs-12">
      <input type="text" name="assignee" id="assignee" class="form-control col-md-10" style="float: left;" />
      <div id="autocomplete-assignee" style="position: relative; float: left; width: 400px; margin: 10px;"></div>
    </div>
    <label class="control-label col-md-1 col-sm-1 col-xs-12"> Parent</label>
    <div class="col-md-4 col-sm-4 col-xs-12">
      <input type="text" name="country" id="parent" class="form-control col-md-10" style="float: left;" />
      <div id="autocomplete-parent" style="position: relative; float: left; width: 400px; margin: 10px;"></div>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-2 col-sm-2 col-xs-12"> Estimate hours </label>
    <div class="col-md-4 col-sm-4 col-xs-12">
      <input type="text" name="estimate_hour" id="estimate_hour" class="form-control col-md-10" style="float: left;" />
    </div>
    <label class="control-label col-md-1 col-sm-1 col-xs-12"> %Done</label>
    <div class="col-md-4 col-sm-4 col-xs-12">
      <select class="form-control">
        <option selected="selected" value="0">0%</option>
        <option value="1">10%</option>
        <option value="2">20%</option>
        <option value="3">30%</option>
        <option value="4">40%</option>
        <option value="5">50%</option>
        <option value="6">60%</option>
        <option value="7">70%</option>
        <option value="8">80%</option>
        <option value="9">90%</option>
        <option value="9">100%</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-2 col-sm-2 col-xs-12">Add Watcher</label>
    <div class="col-md-4 col-sm-4 col-xs-12">
      <select class="select2_multiple select2_multiple_watcher form-control" multiple="multiple" name="watcher" data-placeholder="Select Watcher">
        <option>Choose option</option>
        <option>Ali</option>
        <option>Hamza Billal</option>
        <option>Abdullah</option>
        <option>Hamza</option>
        <option>Fazal</option>
      </select>
    </div>
  </div>
  <!--<div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">AutoComplete</label>
    <div class="col-md-9 col-sm-9 col-xs-12">
      <input type="text" name="country" id="autocomplete-custom-append" class="form-control col-md-10" style="float: left;" />
      <div id="autocomplete-container" style="position: relative; float: left; width: 400px; margin: 10px;"></div>
    </div>
  </div>-->
  <div class="ln_solid"></div>
  <div class="form-group">
    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
      <button type="submit" class="btn btn-success">Save</button>
    </div>
  </div>

</form>
